<h2><%= @recipe[:name] %></h2>
<p>Author: <%= @recipe[:author] %></p>
<p>Number of Servings: <%= @recipe[:servings] %></p>
<p>Total: <%= format_cook_time(@recipe[:cook_time]) %></p>
<p>Difficulty: <%= @recipe[:difficulty].capitalize %></p>

<div class = "ingredients">
  <h3>Ingredients</h3>
  <%== display_list(@recipe[:ingredients]) %>
</div>
<div class = "steps">
  <h3>Steps</h3>
  <%== display_list(@recipe[:directions]) %>
</div>
<div class = "endlinks">
  <ul>
    <li><a href="<%= @recipe[:url_link] %>">Link to original recipe</a></li>
  </ul>
  <h3>Labels</h3>
  <ul>
    <li><a href="#">Pasta</a></li>
    <li><a href="#">Dinner</a></li>
    <li><a href="#">Easy</a></li>
  </ul>
</div>
